
app/app/__pycache__/

*.pyc

app/webpack-stats\.dev\.json

*.html~

*.py~

app/costasiella/__pycache__/

*.js~

*.yml~

*.md~

app/\.vscode/

app/celerybeat.pid

*.txt~

app/\.idea/

.gitignore~

*.ini~

*.conf~

*.json~

*.sh~

Dockerfile~

app/celerybeat-schedule

.DS_Store

.idea/
