amqp==5.2.0
aniso8601==9.0.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.6.0
async-timeout==4.0.2
billiard==4.2.0
Brotli==1.0.9
cairocffi==1.1.0
CairoSVG==2.7.0
celery==5.4.0
certifi==2024.8.30
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.1.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.2.0
cryptography==43.0.1
cssselect2==0.2.2
decorator==4.3.2
defusedxml==0.7.1
Deprecated==1.2.13
Django==4.1.13
django-allauth==0.63.3
django-celery-beat==2.4.0
django-celery-results==2.4.0
django-cors-headers==3.13.0
django-defender==0.9.5
django-filter==2.4.0
django-graphiql==0.4.4
django-graphql-jwt==0.3.2
django-recaptcha==3.0.0
django-timezone-field==5.0
django-webpack-loader==0.6.0
et_xmlfile==1.0.1
factory-boy==2.11.1
Faker==1.0.2
fonttools==4.43.0
graphene==3.2.1
graphene-django==3.0.0
graphql-core==3.2.3
graphql-relay==3.2.0
html2text==2020.1.16
html5lib==1.1
hvac==0.11.2
idna==3.10
importlib-metadata==0.19
jdcal==1.4.1
kombu==5.3.7
mailchimp-marketing==3.0.75
mollie-api-python==2.13.0
more-itertools==7.2.0
mysqlclient==2.1.1
oauthlib==3.0.1
openpyxl==3.0.10
packaging==21.3
pillow==10.4.0
promise==2.3
prompt-toolkit==3.0.9
pycparser==2.21
pydyf==0.2.0
PyJWT==2.4.0
pyparsing==3.0.6
Pyphen==0.9.5
python-crontab==2.3.8
python-dateutil==2.9.0.post0
python3-openid==3.1.0
pytz==2022.1
redis==4.4.4
requests==2.32.3
requests-oauthlib==1.2.0
Rx==1.6.1
setuptools==75.1.0
singledispatch==3.4.0.3
six==1.16.0
sorl-thumbnail==12.10.0
sqlparse==0.5.1
tblib==1.7.0
text-unidecode==1.2
tinycss2==1.0.2
tzdata==2024.1
urllib3==2.2.3
validators==0.20.0
vine==5.1.0
wcwidth==0.2.5
weasyprint==56.0
webencodings==0.5.1
wrapt==1.14.1
zipp==0.6.0
zopfli==0.2.1
