#root {
  height: 100%;
}

/* Tabler changes begin */
table .btn {
  margin-left: 4px;
}

/* Tabler changes end */

/* React datepicker changes begin */
.react-datepicker-wrapper, 
.react-datepicker__input-container {
  width: 100% !important;
}

.react-datepicker-popper {
  z-index: 100;
}

.schedule-classes-csdatepicker {
  width: 156px !important;
}

.schedule-classes-page-options-btn-list {
  width: 100%;
}

/* React datepicker changes end */