#root {
  height: 100%;
}

/* font classes begin */

.bold {
  font-weight: bold;
}

/* font classes end */


/* Tabler changes begin */
a:hover {
  text-decoration: none;
}

table .btn {
  margin-left: 4px;
}

.btn-link:hover {
  text-decoration: none !important;
}

/* Tabler changes end */

/* React datepicker changes begin */
.react-datepicker-wrapper, 
.react-datepicker__input-container {
  width: 100% !important;
}

.react-datepicker-popper {
  z-index: 100;
}

.schedule-list-csdatepicker {
  width: 156px !important;
}

.schedule-list-page-options-btn-list {
  width: 100%;
}

/* React datepicker changes end */