#root {
  height: 100%;
}

/* font classes begin */

.bold {
  font-weight: bold;
}

/* font classes end */

/* Tabler changes begin */
a:hover {
  text-decoration: none;
}

table .btn {
  margin-left: 4px;
}

.btn-link:hover {
  text-decoration: none !important;
}

.page-subtitle {
  font-size: 1rem;
  color: #6e7687;
  margin-left: 0.7rem;
}

/* Show error messages under <Editor> components */
.invalid-feedback {
  display: block;
}

/* Add missing xs column media definition */
@media (max-width: 575px) {
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%
  }
}

/* Tabler changes end */

/* React datepicker changes begin */
.react-datepicker-wrapper, 
.react-datepicker__input-container {
  width: 100% !important;
}

.react-datepicker-popper {
  z-index: 100;
}

.schedule-list-csdatepicker {
  width: 156px !important;
}

.schedule-list-page-options-btn-list {
  width: 100%;
}

/* React datepicker changes end */