{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load addcss %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h3>{% trans "Sign In" %}</h3>
<p>{% trans "Happy to see you again!" %}</p>
<!--
  {{ form.as_p }}
-->
{% if request.GET.next %}
<form class="login" name="login" action="{% url 'account_login' %}?next={{request.GET.next}}" method="POST" >
{% else %}
<form class="login" name="login" method="POST" action="{% url 'account_login' %}">
{% endif %}
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="form-group">
      {{ form.login|addcss:"form-control" }}
      <i class="ik ik-mail"></i>
      {{ form.login.errors }}
  </div>
  <div class="form-group">
      {{ form.password|addcss:"form-control" }}
      <i class="ik ik-lock"></i>
      {{ from.password.errors }}
  </div>
  {{ from.remember }}
  <div class="row">
      <div class="col text-left">
          <label class="custom-control custom-checkbox">
              <input type="checkbox" name="remember" id="id_remember" class="custom-control-input" value="option1">
              <span class="custom-control-label">&nbsp; {% trans "Remember Me" %}</span>
          </label>
      </div>
      <div class="col text-right">
          <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </div>
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <button class="btn btn-theme" type="submit">{% trans "Sign In" %}</button>
</form>
<div class="register">
    <p>{% trans "Don't have an account?" %} <a href="{{ signup_url }}"><b>{% trans "Create an account" %}</b></a></p>
</div>


<script type="text/javascript">
    /* Fix Hashrouter login redirects */
    window.onload = function() {
        if(window.location.hash) {
          // Fragment exists
          var hash = window.location.hash;
          document.login.action = document.login.action + hash
        }         
    }
</script>


{% endblock %}
