{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<h3>{% trans "Sign Out" %}</h3>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class="row">
    <div class="col text-left">
        <button class="btn btn-theme" type="submit">{% trans 'Sign Out' %}</button>
    </div>
    <div class="col text-right">
        <a class="btn btn-link" href="/">{% trans "Cancel" %}</a>
    </div>
  </div>
</form>


{% endblock %}
