{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load addcss %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<h3 class="card-title">{% trans "Password reset" %}</h3>
{% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
{% endif %}
<p>{% trans "Forgotten your password?" %}</p>
<p>{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
<!--
  {{ form.as_p }}
-->
<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="form-group">
      {{ form.email|addcss:"form-control" }}
      <i class="ik ik-mail"></i>
      {{ form.email.errors }}
  </div>
  <div class="row">
      <div class="col text-left">
          <input class="btn btn-primary" type="submit" value="{% trans 'Reset My Password' %}" />
      </div>
      <div class="col text-right">
        {% if "localhost" in request.build_absolute_uri %}
            <a class="btn btn-link" href="http://localhost:3000/#/user/login">{% trans "Back to sign in" %}</a>
        {% else %}
            <a class="btn btn-link" href="/#/user/login">{% trans "Back to sign in" %}</a>
        {% endif %}
<!--
          <a class="btn btn-link" href="{{ login_url }}">{% trans "Back to log in" %}</a>
-->
      </div>
  </div>
  
</form>
{% endblock %}

{% block content_links %}
<div class="register">
    <p>{% blocktrans %}Please contact us in case you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}
