{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h3 class="card-title">{% trans "Reset Password" %}</h1>
    <p>{% trans 'New password set.' %} <br>
       {% trans 'Your can now sign in using your new password.' %} <br><br></p>
    <p>
        {% if "localhost" in request.build_absolute_uri %}
            <a class="btn btn-primary btn-block" href="http://localhost:3000/#/user/login">
        {% else %}
            <a class="btn btn-primary btn-block" href="/#/user/login">
        {% endif %}
    <b>{% trans "Sign In" %}</b></a></p>
{% endblock %}
