{% extends "account/base.html" %}

{% load i18n %}
{% load addcss %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h3>{% trans "Change Password" %}</h3>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
<!--
        {{ form.as_p }}
-->
        <div class="form-group">
            {{ form.oldpassword|addcss:"form-control" }}
            <i class="ik ik-lock"></i>
            {{ from.oldpassword.errors }}
        </div>
        <div class="form-group">
            {{ form.password1|addcss:"form-control" }}
            <i class="ik ik-lock"></i>
            {{ from.password1.errors }}
        </div>
        <div class="form-group">
            {{ form.password2|addcss:"form-control" }}
            <i class="ik ik-lock"></i>
            {{ from.password2.errors }}
        </div>
          <div class="row">
              <div class="col text-left">
                  <button class="btn btn-theme" type="submit" name="action">{% trans "Change Password" %}</button>
              </div>
              <div class="col text-right">
                  <a class="btn btn-link" href="/">{% trans "Back" %}</a>
              </div>
          </div>
    </form>
{% endblock %}
