{% extends "account/base.html" %}

{% load i18n %}
{% load addcss %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="auth-wrapper">
    <div class="container-fluid h-100">
        <div class="row flex-row h-100 bg-white">
            <div class="col-xl-8 col-lg-6 col-md-5 p-0 d-md-block d-lg-block d-sm-none d-none">
                <div class="lavalite-bg" style="background-image: url('../img/auth/register-bg.jpg')">
                    <div class="lavalite-overlay"></div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-7 my-auto p-0">
                <div class="authentication-form mx-auto">
                    <div class="logo-centered">
                        <a href="../index.html"><img src="../src/img/brand.svg" alt=""></a>
                    </div>
                    <h3>{% trans "Create an account" %}</h3>
                    <p>{% trans "Join us today! It takes only few steps" %}</p>
<!--
                      {{ form.as_p }}
-->
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-group">
                            {{ form.email|addcss:"form-control" }}
                            <i class="ik ik-user"></i>
                            {{ form.email.errors }}
                        </div>
                        <div class="form-group">
                            <input type="password" name="password1" placeholder={% trans "Password" %} required="" id="id_password1" class="form-control" aria-autocomplete="list">
                            <i class="ik ik-lock"></i>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password2" placeholder={% trans "Password (again)" %}required="" id="id_password2" class="form-control">
                            <i class="ik ik-lock"></i>
                        </div>
                        <div class="row">
                            <div class="col-12 text-left">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="item_checkbox" name="item_checkbox" value="option1">
                                    <span class="custom-control-label">&nbsp;I Accept <a href="#">Terms and Conditions</a></span>
                                </label>
                            </div>
                        </div>
                        <div class="sign-btn text-center">
                            <button type="submit" class="btn btn-theme">{% trans "Create Account" %}</button>
                        </div>
                        
                    </form>
                    <div class="register">
                        <p>{% trans "Already have an account?" %} <a href="{{ login_url }}"><b>{% trans "Sign In" %}</b></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
