{% extends "account/base.html" %}

{% load i18n %}
{% load addcss %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<h3 class="card-title">{% trans "Create your account" %}</h3>
<p>{% trans "Join us today! It only takes a few steps" %}</p>
<!--
  {{ form.as_p }}
-->
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    
    <div class="form-group">
        <label class="form-label">{% trans "First name" %}</label>
        {{ form.first_name|addcss:"form-control" }}
        <i class="ik ik-user"></i>
        <small class="text-red">
          {{ form.first_name.errors }}
        </small>
    </div>
    <div class="form-group">
        <label class="form-label">{% trans "Last name" %}</label>
        {{ form.last_name|addcss:"form-control" }}
        <small class="text-red">
          {{ form.last_name.errors }}
        </small>
    </div>
    <div class="form-group">
        <label class="form-label">{% trans "Email" %}</label>
        {{ form.email|addcss:"form-control" }}
        <small class="text-red">
          {{ form.email.errors }}
        </small>
    </div>
    <div class="form-group">
        <label class="form-label">{% trans "Password" %}</label>
        <input type="password" name="password1" placeholder={% trans "Password" %} required="" id="id_password1" class="form-control">
        <small class="text-red">
          {{ form.password1.errors }}
        </small>
    </div>
    <div class="form-group">
        <small class="text-red">
          {{ form.captcha.errors.as_text }}
        </small>
        {{ form.captcha }}
    </div>

    <div class="row">
        <div class="col-12 text-left text-muted text-small">
            <small>
                {% trans "By signing up I" %} <br>
                <ul>
                    <li>Agree to the <a target="_blank" href="/d/export/terms-and-conditions">{% trans "Terms and conditions" %}</a></li>
                    <li>Agree to the <a target="_blank" href="/d/export/privacy-policy">{% trans "Privacy policy" %}</a></li>
                </ul>
            </small>
        </div>
    </div>
    <div class="sign-btn text-center">
        <button type="submit" class="btn btn-primary btn-block">{% trans "Create your account" %}</button>
    </div>
</form>

{% endblock %}

{% block content_links %}
<div class="text-center">
    <p>{% trans "Already have an account?" %}
    {% if "localhost" in request.build_absolute_uri %}
        <a href="http://localhost:3000/#/user/login">
    {% else %}
        <a href="/#/user/login">
    {% endif %}
    <b>{% trans "Sign In" %}</b></a></p>
</div>
<div class="text-justify">
    <p> {% trans "In case you can't register because your email address already has an account, please" %}
    <b><a href="/d/accounts/password/reset/">{% trans "reset your password" %}</a></b>.     
    </p>
</div>
{% endblock %}
