{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <h3 class="card-title">{% trans "Time to open your inbox!" %}</h1>

    <p><b>{% trans "We've sent you a verification e-mail." %}</b></p>
    <p>{% blocktrans %} Please follow the link provided in the email to finalize the creation of your account. {% endblocktrans %} <br><br>
    {% blocktrans %} In case you don't receive it within a few minutes: Please check your spam folder first and contact us if you don't receive it. {% endblocktrans %}</p>

{% endblock %}
