{% load static %}
{% load i18n %} 

<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Language" content="en" />
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#4188c9">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
        <title>{% block head_title %}{% trans "Sign In" %}{% endblock %}</title>
        <!-- external stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
        <!-- dashboard stylesheets & js -->
        <script src="{% static 'tabler/dist/assets/js/require.min.js' %}"></script>
        <script>
            requirejs.config({
              baseUrl: '/static/tabler/dist/'
            });
        </script>
        
<!--
        <script src="./assets/js/require.min.js"></script>
-->
        <!-- Dashboard Core -->
        <link rel="stylesheet" href="{% static 'tabler/dist/assets/css/dashboard.css' %}">
        <script src="{% static 'tabler/dist/assets/js/dashboard.js' %}"></script>
    </head>
    <body class="">
        <div class="page">
            <div class="page-single">
                <div class="container">
                    <div class="row">
                        <div class="col col-login mx-auto">
                            <div class="text-center mb-6">
                                {% if organization.logo_login %}
                                    <img src="{{ organization.logo_login.url }}" class="h-9" alt="">
                                {% else %} 
                                    <img src="{% static 'logos/stock/logo_stock_backend.svg' %}" class="h-6" alt="">
                                {% endif %}
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    {% block content %}
                                    {% endblock %}
                                </div>
                            </div>
                            {% block content_links %}
                            {% endblock %}
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </body>
</html>
