{% extends "account/email/base.html" %}

{% load account %}{% user_display user as user_display %}{% load i18n %}

{% block content %}
{% autoescape off %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Email verification for {{ site_name }}! <br>
<br>
You're receiving this e-mail because an account has been requested for {{ user_display }}.<br>
<br>
To confirm this is correct, please click <a href="{{ activate_url }}">here</a>.<br>
{% endblocktrans %}
{% endautoescape %} 
<br><br>
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Thank you, <br>
the {{ site_name }} team{% endblocktrans %}
{% endblock %}
