{% extends "account/email/base.html" %}

{% load i18n %}

{% block content %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Password reset requested for {{ site_name }}!<br>
<br>
You're receiving this e-mail because you or someone else has requested a password for your user account.<br>
It can be safely ignored if you did not request a password reset.<br>
<br>
Please click <a href="{{ password_reset_url }}">here</a> to reset your password.<br>
<br>
{% endblocktrans %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}The {{ site_name }} team 
{% endblocktrans %}
{% endblock %}
