{% extends "bootstrapadmin/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Email address verified" %}{% endblock %}


{% block content %}
<h1>{% trans "Email address verified" %}</h1>
    {% if "localhost" in request.build_absolute_uri %}
        <p>{% trans "You can now sign in!" %} <a href="http://localhost:3000/#/user/login"><b>{% trans "Sign In" %}</b></a></p>
    {% else %}
        <p>{% trans "You can now sign in!" %} <a href="/#/user/login"><b>{% trans "Sign In" %}</b></a></p>
    {% endif %}


{% endblock %}
