{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Costasiella</title>
  </head>
  <body>
    <!-- templates/home.html -->
    {% if user.is_authenticated %}
      Hi {{ user.email }}!
      <p><a href="{% url 'account_logout' %}">Log Out</a></p>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'account_login' %}">Log In</a> |
      <a href="{% url 'account_signup' %}">Sign Up</a>
    {% endif %}

    <div id="root">
    </div>
      {% render_bundle 'main' %}
  </body>
</html>

